* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body {
    background-color: rgb(240,235,248);
}
.main-content {
    display: grid;
    width: 100%;
    background-color: blue;
    grid-template: "main-nav-hidden form-box" /
                    250px           1fr;
}
.main-nav {
    position: fixed;
    height: 100vh;
    width: 250px;
    background-color: rgb(53,104,167);
}
.main-nav-hidden {
    grid-area: main-nav-hidden;
    height: 100vh;
    width: 250px;
    background-color: rgb(53,104,167);
    visibility: hidden;
}
.form-box {
    grid-area: form-box;
    display: grid;
    width: 100%;
    background-color: blue;
    grid-template: "empty-izq form-planeacion empty-der" /
                    15px         1fr          15px;
}
h1 {
    text-align: center;
    margin: 20px 20px 30px 20px;
}
.form-planeacion {
    grid-area: form-planeacion;
    border: 1px solid transparent;
    background-color: white;
    margin: 50px;
    border-radius: 15px;
}
.display-titulo-principal {
    display: grid;
    grid-template: "emptyIzq titulo-principal  emptyDer" 50px
                   "empty    empty             empty" 20px /
                   1fr      400px           1fr;
}
.display-asignatura {
    display: grid;
    grid-template: "emptyIzq  lbl-asignatura  emptyDer" 25px
                    "emptyIzq txt-asignatura  emptyDer" 50px
                    "empty    empty           empty"    30px /
                    1fr      400px           1fr;
}
.display-orientador {
    display: grid;
    grid-template: "emptyIzq  lbl-orientador  emptyDer" 25px
                    "emptyIzq txt-orientador  emptyDer" 50px
                    "empty    empty           empty"    30px /
                     1fr      400px           1fr;
}
.display-curso {
    display: grid;
    grid-template: "emptyIzq  lbl-curso  emptyDer" 25px
                    "emptyIzq txt-curso  emptyDer" 50px
                    "empty    empty      empty"    30px /
                     1fr      400px      1fr;
}
.display-periodo {
    display: grid;
    grid-template: "emptyIzq  lbl-periodo emptyDer" 25px
                    "emptyIzq txt-periodo emptyDer" 50px
                    "empty    empty       empty"    30px /
                     1fr      400px       1fr;
}
.display-unidad {
    display: grid;
    grid-template: "emptyIzq  lbl-unidad emptyDer" 25px
                    "emptyIzq txt-unidad emptyDer" 50px
                    "empty    empty       empty"    30px /
                     1fr      400px       1fr;
}
.display-topicos {
    display: grid;
    grid-template: "emptyIzq  lbl-topicos emptyDer" 25px
                    "emptyIzq txt-topicos emptyDer" 50px
                    "empty    empty       empty"    30px /
                     1fr      400px       1fr;
}
.display-hilos {
    display: grid;
    grid-template: "emptyIzq  lbl-hilos emptyDer" 25px
                    "emptyIzq txt-hilos emptyDer" 50px
                    "empty    empty     empty"    30px /
                     1fr      400px     1fr;
}
.display-metas-comprension {
    display: grid;
    grid-template: "emptyIzq  lbl-metas-comprension emptyDer" 25px
                    "emptyIzq txt-metas-comprension emptyDer" 50px
                    "empty    empty                 empty"    30px /
                     1fr      400px                 1fr;
}
.display-actividades-criterios {
    display: grid;
    grid-template: "emptyIzq  lbl-actividades-criterios emptyDer" 25px
                    "emptyIzq txt-actividades-criterios emptyDer" 50px
                    "empty    empty                     empty"    30px /
                     1fr      400px                     1fr;
}
.display-semana {
    display: grid;
    grid-template: "emptyIzq  lbl-semana emptyDer" 25px
                    "emptyIzq txt-semana emptyDer" 50px
                    "empty    empty      empty"    30px /
                     1fr      400px      1fr;
}
.display-meta-comprension {
    display: grid;
    grid-template: "emptyIzq  lbl-meta-comprension emptyDer" 25px
                    "emptyIzq txt-meta-comprension emptyDer" 50px
                    "empty    empty                empty"    30px /
                     1fr      400px                1fr;
}
.display-fase-secuencia-didactica {
    display: grid;
    grid-template:  "emptyIzq  lbl-fase-secuencia-didactica emptyDer" 25px
                    "emptyIzq  txt-fase-secuencia-didactica emptyDer" 50px
                    "empty     empty                        empty"    30px /
                     1fr       400px                        1fr;
}
.display-desempenyos-comprension {
    display: grid;
    grid-template: "emptyIzq  lbl-desempenyos-comprension emptyDer" 25px
                    "emptyIzq txt-desempenyos-comprension emptyDer" 50px
                    "empty    empty                empty"    30px /
                     1fr      400px                1fr;
}
.display-recursos {
    display: grid;
    grid-template: "emptyIzq  lbl-recursos emptyDer" 25px
                    "emptyIzq txt-recursos emptyDer" 50px
                    "empty    empty                empty"    30px /
                     1fr      400px                1fr;
}
select {
    border: 0;
    border-bottom: 1px solid black;
    cursor: pointer;
    line-height: .5em;
    /* padding-bottom: -50px; */
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 1em;
    color: rgb(48,48,48);
}
select:focus {
    outline: none;
}
label {
    font-weight: 700;
    color: rgb(48,48,48);
    font-size: 1em;
}
textarea {
    font-family: 'Lato', sans-serif;
    padding: 6px;
    font-size: 1em;
}
.titulo-principal {
    grid-area: titulo-principal;
    text-align: center;
}
.lbl-asignatura {
    grid-area: lbl-asignatura;
    text-align: left;
}
.txt-asignatura {
    grid-area: txt-asignatura;
    text-align: left;
}
.lbl-orientador {
    grid-area: lbl-orientador;
}
.txt-orientador {
    grid-area: txt-orientador;
}
.lbl-curso {
    grid-area: lbl-curso;
}
.txt-curso {
    grid-area: txt-curso;
}
.lbl-periodo {
    grid-area: lbl-periodo; 
}
.txt-periodo {
    grid-area: txt-periodo;
}
.lbl-unidad {
    grid-area: lbl-unidad;
}
.txt-unidad {
    grid-area: txt-unidad;
}
.lbl-topicos {
    grid-area: lbl-topicos;
}
.txt-topicos {
    grid-area: txt-topicos;
    height: 50px;
}
.lbl-hilos {
    grid-area: lbl-hilos;
}
.txt-hilos {
    grid-area: txt-hilos;
}
.lbl-metas-comprension {
    grid-area: lbl-metas-comprension;
}
.txt-metas-comprension {
    grid-area: txt-metas-comprension;
}
.lbl-actividades-criterios {
    grid-area: lbl-actividades-criterios;
}
.txt-actividades-criterios {
    grid-area: txt-actividades-criterios;
}
.lbl-semana {
    grid-area: lbl-semana;
}
.txt-semana {
    grid-area: txt-semana;
}
.lbl-meta-comprension {
    grid-area: lbl-meta-comprension;
}
.txt-meta-comprension {
    grid-area: txt-meta-comprension;
}
.lbl-fase-secuencia-didactica {
    grid-area: lbl-fase-secuencia-didactica;
}
.txt-fase-secuencia-didactica {
    grid-area: txt-fase-secuencia-didactica;
}
.lbl-desempenyos-comprension {
    grid-area: lbl-desempenyos-comprension;
}
.txt-desempenyos-comprension {
    grid-area: txt-desempenyos-comprension;
}
.lbl-recursos {
    grid-area: lbl-recursos;
}
.txt-recursos {
    grid-area: txt-recursos;
}
@media only screen and (max-width: 1000px) {
    .main-content {
        display: grid;
        width: 100%;
        background-color: blue;
        grid-template: "main-nav-hidden form-box" /
                        0           1fr;
    }
    .main-nav {
        width: 0;
        background-color: red;
    }
    .main-nav-hidden {
        width: 0;
        background-color: red;
    }
    .form-planeacion {
        margin: 50px 10px 10px 10px;
        border-radius: 15px;
    }
    
}
/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v23-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lato-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v23-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v23-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lato-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v23-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v23-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v23-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lato-v23-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v23-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v23-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v23-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
  }