doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        title= 'Planeación - G.C.C.'
        link(rel="stylesheet" href='./css/planeacion-pedagogia.css' type='text/css')
        link(rel="stylesheet" href='./icons/all.css')    
    body
        div.main-content
            nav#mainNav.main-nav
                div.div-logo
                    img.img-logo(src="./img/logo_gcc_400x228.png")
                //div
                    li.items-principal 
                        //i#iconoMenu.icono-menu.fa-solid.fa-bars
                ul.menu-principal
                    li.items-principal
                        a(href="#")
                            i.icono-planeacion.fa-regular.fa-address-book
                                label.texto-icono Planeación
            div.form-box
                form.form-planeacion
                    h1 Planeación
                    div.display-asignatura
                        label.lbl-asignatura Proceso de Formación
                        i#iconoPlusProcesoFormacion.icono-plus.fa-solid.fa-plus
                        select#idProcesoFormacion.txt-style.txt-asignatura(name="Asignatura")

                            
                    div#divBoxDisplayAsignatura.div-box-input-single-hidden
                        div.box-display-asignatura
                            div.box-center-display-asignatura
                                label.texto-box Añadir Proceso de Formación
                                input#inputProcesoFormacion.input-box(type="text", name="")
                                input#btnProcesoFormacion.button-box(type="button", value="Guardar")
                                input#btnCancelarProcesoFormacion.button-box-cancelar(type="button" value="Cancelar")
                    div.display-asignatura
                        label.lbl-asignatura Orientador
                        i#iconoPlusOrientador.icono-plus.fa-solid.fa-plus
                        select#idOrientador.txt-style.txt-asignatura(name="Asignatura")
                    div#divBoxDisplayOrientador.div-box-display-orientador-hidden
                        div.box-display-orientador
                            div.box-center-display-orientador
                                label.texto-box Añadir Orientador
                                input#inputOrientador.input-box(type="text", name="")
                                input#btnOrientador.button-box(type="button", value="Guardar")
                                input#btnCancelarOrientador.button-box-cancelar(type="button" value="Cancelar")
    
        <script src="js/prueba.js"></script>
