doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        title= 'Planeación - G.C.C.'
        link(rel="stylesheet" href='./css/planeacion-pedagogia.css' type='text/css')
        link(rel="stylesheet" href='./icons/all.css')    
    body
        div.main-content
            nav#mainNav.main-nav
                div.div-logo
                    img.img-logo(src="./img/logo_gcc_400x228.png")
                //div
                    li.items-principal 
                        //i#iconoMenu.icono-menu.fa-solid.fa-bars
                ul.menu-principal
                    li.items-principal
                        a(href="#")
                            i.icono-planeacion.fa-regular.fa-address-book
                                label.texto-icono Planeación
                    li.items-principal
                        a(href="/consolidado")
                            i.icono-planeacion.fa-solid.fa-book
                                label.texto-icono Consolidado
                    //li.items-principal
                        a(href="./consolidado.pug")
                            i.icono-planeacion.fa-solid.fa-book
                                label.texto-icono Consolidado
            div.form-box
                form.form-planeacion
                    h1 Planeación
                    div.single-question
                        label.lbl-question Proceso de Formación
                        i#iconoPlusProcesoFormacion.icono-plus.fa-solid.fa-plus
                        select#idProcesoFormacion.txt-select
                    div#divBoxDisplayAsignatura.div-box-input-single-hidden
                        div.box-input-single
                            div.box-center-display-asignatura
                                label.texto-box Añadir Proceso de Formación
                                input#inputProcesoFormacion.input-box(type="text", name="")
                                input#btnProcesoFormacion.button-box(type="button", value="Guardar")
                                input#btnCancelarProcesoFormacion.button-box-cancelar(type="button" value="Cancelar")
                    div.single-question
                        label.lbl-question Orientador
                        i#iconoPlusOrientador.icono-plus.fa-solid.fa-plus
                        select#idOrientador.txt-select
                    div#divBoxDisplayOrientador.div-box-input-single-hidden
                        div.box-input-orientador
                            div.box-center-display-orientador
                                label.texto-box Añadir Orientador
                                select#idTipoDocumento.txt-select
                                label.texto-box Nombres
                                input#inputNombresOrientador.input-box(type="text", name="")
                                label.texto-box Primer Apellido
                                input#inputPrimerApellidoOrientador.input-box(type="text", name="")
                                label.texto-box Segundo Apellido
                                input#inputPrimerApellidoOrientador.input-box(type="text", name="")
                                input#btnOrientador.button-box(type="button", value="Guardar")
                                input#btnCancelarOrientador.button-box-cancelar(type="button" value="Cancelar")
                    div.single-question
                        label.lbl-question Curso
                        i#iconoPlusCurso.icono-plus.fa-solid.fa-plus
                        select#idCurso.txt-select
                    div#divBoxDisplayCurso.div-box-input-single-hidden
                        div.box-input-single
                            div.box-center-display-curso
                                label.texto-box Añadir Curso
                                input#inputCurso.input-box(type="text", name="")
                                input#btnCurso.button-box(type="button", value="Guardar")
                                input#btnCancelarCurso.button-box-cancelar(type="button" value="Cancelar")
                    div.single-question
                        label.lbl-question Periodo
                        i#iconoPlusPeriodo.icono-plus.fa-solid.fa-plus
                        select#idPeriodo.txt-select
                    div#divBoxDisplayPeriodo.div-box-input-single-hidden
                        div.box-input-single
                            div.box-center-display-Periodo
                                label.texto-box Añadir Periodo
                                input#inputPeriodo.input-box(type="text", name="")
                                input#btnPeriodo.button-box(type="button", value="Guardar")
                                input#btnCancelarPeriodo.button-box-cancelar(type="button" value="Cancelar")
                    div.single-question
                        label.lbl-question Unidad
                        i#iconoPlusUnidad.icono-plus.fa-solid.fa-plus
                        select#idUnidad.txt-select
                    div#divBoxDisplayUnidad.div-box-input-single-hidden
                        div.box-input-single
                            div.box-center-display-Unidad
                                label.texto-box Añadir Unidad
                                input#inputUnidad.input-box(type="text", name="")
                                input#btnUnidad.button-box(type="button", value="Guardar")
                                input#btnCancelarUnidad.button-box-cancelar(type="button" value="Cancelar")
                    div.textarea-question
                        label.lbl-textarea Tópicos
                        i#iconoPlusTopico.icono-plus.fa-solid.fa-plus
                        textarea#idTopico(class="txt-textarea", name="topicos", cols="30", rows="10")
                    div#divBoxDisplayTopico.div-box-input-single-hidden
                        div.box-input-single
                            div.box-center-display-Topicos
                                label.texto-box Añadir Tópico
                                input#inputTopico.input-box(type="text", name="")
                                input#btnTopico.button-box(type="button", value="Guardar")
                                input#btnCancelarTopico.button-box-cancelar(type="button" value="Cancelar")
                    div.textarea-question
                        label.lbl-textarea Hilos Conductores
                        <textarea class="txt-textarea" name="hilos" id="" cols="30" rows="10"></textarea>
                    div.textarea-question
                        label.lbl-textarea Metas de Comprensión - Unidad
                        <textarea class="txt-textarea" name="metasComprensionUnidad" id="" cols="30" rows="10"></textarea>
                    div.textarea-question
                        label.lbl-textarea Actividades y Criterios de Evaluación
                        <textarea class="txt-textarea" name="actividadesCriterios" id="" cols="30" rows="10"></textarea>
                    div.single-question
                        label.lbl-question Semana
                        i#iconoPlusSemana.icono-plus.fa-solid.fa-plus
                        select#idSemana.txt-select
                    div#divBoxDisplaySemana.div-box-input-single-hidden
                        div.box-input-single
                            div.box-center-display-Semana
                                label.texto-box Añadir Semana
                                input#inputSemana.input-box(type="text", name="")
                                input#btnSemana.button-box(type="button", value="Guardar")
                                input#btnCancelarSemana.button-box-cancelar(type="button" value="Cancelar")
                    div.textarea-question
                        label.lbl-textarea Meta de Comprensión - Semana
                        <textarea class="txt-textarea" name="metaComprension" id="" cols="30" rows="10"></textarea>
                    div.single-question
                        label.lbl-question Fase de Secuencia didáctica
                        i#iconoPlusFaseSecuencia.icono-plus.fa-solid.fa-plus
                        select#idFaseSecuencia.txt-select
                    div#divBoxDisplayFaseSecuencia.div-box-input-single-hidden
                        div.box-input-single
                            div.box-center-display-Fase-Secuencia
                                label.texto-box Añadir Fase  de Secuencia Didáctica
                                input#inputFaseSecuencia.input-box(type="text", name="")
                                input#btnFaseSecuencia.button-box(type="button", value="Guardar")
                                input#btnCancelarFaseSecuencia.button-box-cancelar(type="button" value="Cancelar")
                    div.textarea-question
                        label.lbl-textarea Desempeños de Comprensión
                        textarea#inputDesempenyosComprension.txt-textarea(name="desempeniosComprension", cols="30", rows="10")
                    div.single-question
                        label.lbl-question Recursos
                        i#iconoPlusRecurso.icono-plus.fa-solid.fa-plus
                        select#idRecurso.txt-select
                    div#divBoxDisplayRecurso.div-box-input-single-hidden
                        div.box-input-single
                            div.box-center-display-Recurso
                                label.texto-box Añadir Recurso
                                input#inputRecurso.input-box(type="text", name="")
                                input#btnRecurso.button-box(type="button", value="Guardar")
                                input#btnCancelarRecurso.button-box-cancelar(type="button" value="Cancelar")
                    div.div-boton-guardar
                        input#btnGuardarPlaneacion.boton-guardar(type="button", value="Guardar Planeación")
        <script src="js/planeacionFormacion.js"></script>
